.trainer {


    position: absolute;
    margin-left: 18vw;
    margin-top: 40vh;
    padding: 20px;
    align: center

}

.trainee {

    padding: 20px;
    margin-top: 40vh;
    margin-left: 70vw;
    position: absolute;
    font-style: bold;
    align: center;




}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: Helvetica;
}

button:hover {
    background-color: #5fb962;
}


.tcontainer {
    word-wrap: true;
}
